body {
	font-size: 15px;
	line-height: 1.6;
	color: #333;
	background: white;
}

h1 {
	color: #3484D2;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="error:"] {
	background: red;
	color: white;
}

form tr, form td {
	vertical-align: top;
	font-weight: normal;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}



/* BOOTSTRAP */
/* Sticky footer styles
      -------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
#footer {
    background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 480px) {

    #footer {
        height: 100px;
        margin-top: 20px;
    }

    #right-tab {
        margin-top: 10px;
    }
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: auto;
    max-width: 680px;
}
.container .credit {
    margin: 20px 0;
}

input[type="checkbox"] {
    margin-left: 5px;
    margin-top: 4px;
}

.sortable {
    min-height: 36px
}

.nav {
    margin-bottom: 0;
    border-bottom: 0;
}

.tab-content {
    border: 1px solid #DDDDDD;
    padding: 10px;
    border-radius: 0px 4px 4px 4px;
}

.tab-pane {
    display: none;
}
.tab-pane.active {
    display: block;
}

.item {
    border-top: 1px solid #E6E8E9;
    color: #333333;
    display: block;
    font-size: 13px;
    font-weight: 600;
    padding: 7px 25px;
    position: relative;
    font-weight: normal;
    cursor: move;
}
.modal-item {
    border-top: 1px solid #E6E8E9;
    color: #333333;
    display: block;
    font-size: 13px;
    font-weight: 600;
    position: relative;
    font-weight: normal;
    cursor: move;
    padding-top: 10px;
}

.item:first-child, .modal-item:first-child {
    border-top: 0 none;
}

.icon-reorder {
    color: #D9E4EE;
    font-size: 18px;
    margin-right: 13px;
}

.leftbtn {
    left: 0px;
    position: absolute;
    top: 7px;
}

.rightbtn {
    right: 0px;
    position: absolute;
    top: 7px;
}

.leftbtn, .rightbtn, .leftbtn:hover, .rightbtn:hover {
    text-decoration: none;
}

.parser textarea {
    width: 100%;
    resize: vertical;
}

#managePools .order{
    margin-top: 5px;
}

#managePools .text{
    margin-top: 4px;
}

#managePools [class*="span"]{
    float: left;
}

#managePools .span1{
    width: 5%;
}

#managePools .span9{
    width: 75%;
}

#managePools .span2{
    width: 10%;
}

.make-space {
    padding-top: 20px;
    padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}